*
  margin: 0
  padding: 0
  line-height: 1
  text-decoration: none
  border: none
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

html
  overflow: auto

body
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  overflow: auto
  background: rgb(100, 70, 140) url('/img/bg_noise.png') repeat

@media only screen and (max-device-width:1024px)
  body
    position: relative
    top: auto
    right: auto
    bottom: auto
    left: auto
    overflow: auto

:focus
  outline: none

@font-face
  font-family: 'League Gothic'
  src: url('type/lg.eot')
  src: local('League Gothic'), url('/type/lg.woff') format('woff'), url('/type/lg.otf') format('opentype'), url('/type/lg.svg#LeagueGothic') format('svg')

::-webkit-scrollbar
  width: 10px
  height: 10px

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb
  display: block
  background: rgba(255,255,255,0.25)

::-webkit-scrollbar-thumb
  -webkit-border-radius: 5px

::-webkit-scrollbar-thumb:hover
  background: rgba(255,255,255,0.5)

::-webkit-scrollbar-thumb:active
  background: rgba(255,255,255,0.75)

.wrapper
  width: 960px
  margin: 0 auto

#twitter
  width: 924px
  padding: 24px 0 0 36px
  margin: 0 auto -4px
  color: rgb(255,255,255)
  text-shadow: 0px 1px 0px rgb(0,0,0)
  background: url('/img/bird.png') no-repeat left bottom
  font-size: 14px

#twitter a, #footer a
  color: rgba(255,255,255,0.75)

#twitter a:hover, #twitter a:focus,
#footer a:hover, #footer a:focus
  color: rgba(255,255,255,1)

#twitter a:active, #footer a:active
  text-shadow: 0px -1px 0px rgb(0,0,0)

#twitter p
  width: 720px
  white-space: nowrap
  overflow: hidden
  padding-bottom: 16px
  text-overflow: ellipsis

#follow
  display: block
  float: right
  padding-bottom: 16px

h1, h2
  font-family: 'League Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif
  color: rgb(255,255,255)
  text-shadow: 0px 1px 1px rgb(0,0,0)

h1 a
  display: block
  font-size: 144px
  text-transform: uppercase
  text-align: center
  margin-bottom: 64px
  padding: 4px 0
  background: rgba(0,0,0,0.25)
  -webkit-transition: background 0.5s linear
  color: rgb(255,255,255)
  min-width: 996px

h1 a:hover, h1 a:focus
  background: rgba(0,0,0,0.5)

h1 a:active
  padding: 6px 0px 2px

h2
  background: rgba(0,0,0,0.75)
  font-size: 32px
  padding: 8px 16px
  clear: both
  margin-bottom: 16px

a
  font-family: inherit

.left
  float: left

.right
  float: right

.hidden
  display: none

.box_shadow
  box-shadow: 0px 0px 16px rgba(0,0,0, 0.75)

.round_btn
  color: rgb(0,0,0)
  text-shadow: 0px 1px 1px rgb(255,255,255)
  padding: 16px
  font-weight: bold
  -webkit-border-radius: 16px
  -moz-border-radius: 16px
  border-radius: 16px
  -webkit-transition: background 0.5s linear

.top:hover, .top:focus,
#images li a:hover, #images li a:focus
  -webkit-transform: rotate(0deg) !important
  -moz-transform: rotate(0deg) !important
  -o-transform: rotate(0deg) !important
  transform: rotate(0deg) !important

#description
  width: 448px
  min-height: 368px
  margin-bottom: 32px

#description h2
  font-size: 48px
  float: left

#description p
  color: rgb(255,255,255)
  text-shadow: 0px 1px 1px rgb(0,0,0)
  line-height: 1.5
  margin-bottom: 16px
  clear: both
  padding: 0 32px 0 16px
  font-size: 18px

#description p a, #contact p a
  color: rgb(255,255,255)
  text-shadow: 0px 1px 0px rgb(0,0,0)
  background: rgba(0,0,0,0.25)
  padding: 4px
  -webkit-border-radius: 8px
  -moz-border-radius: 8px
  border-radius: 8px

#description p a:hover, #description p a:focus,
#contact p a:hover, #contact p a:focus
  background: rgba(0,0,0,0.5)

#description p a:active, #lastfm h2 a:active, #flickr h2 a:active,
#contact p a:active
  position: relative
  top: 1px

.visit
  display: block
  background: rgba(255,255,255,0.5) url('/img/plane.png') no-repeat 216px center
  font-size: 20px
  width: 224px
  margin: 16px 16px

.visit:hover, .visit:focus
  background-color: rgba(255,255,255,0.75)

.visit:active
  background-color: rgba(255,255,255,1)
  margin: 18px 16px 14px

.date
  margin-left: 32px

.date time
  font-weight: bold

.linky
  display: block
  position: relative

.linky:active
  top: 2px

.linky:active img
  box-shadow: 0px 0px 32px rgb(0,0,0, 0.75)

#picture img
  float: right
  position: absolute
  background: rgb(255,255,255)
  padding: 16px
  width: 480px
  height: 320px
  margin-left: 446px
  -webkit-transition: all 0.2s linear

#ethan
  -webkit-transform: rotate(4deg)
  -moz-transform: rotate(4deg)
  -o-transform: rotate(4deg)
  transform: rotate(0deg)

#gallery
  clear: both
  margin-bottom: 64px
  background: rgba(0,0,0,0.5)
  overflow: hidden

#samples
  margin-left: 0px
  height: 132px
  overflow: hidden

#samples li
  list-style: none
  float: left
  display: block

#gallery a
  display: block
  width: 160px
  padding: 16px
  -webkit-transition: background 0.5s linear
  color: rgb(255,255,255)

#gallery a:hover, #gallery a:focus
  background: rgba(0,0,0,0.25)

#samples img
  width: 160px
  height: 100px
  background: rgb(255,255,255)

#gallery a:active
  padding: 18px 16px 14px

#samples li.current a
  background: rgb(0, 0, 0)

#nav
  overflow: hidden
  font-size: 18px
  color: rgb(255, 255, 255)
  text-shadow: 0px 1px 1px rgb(0,0,0)
  font-weight: bold

#nav
  font-size: 18px
  list-style: none
  display: none

#nav li
  display: block
  float: left

#nav span
  display: block
  padding: 16px
  width: 160px
  color: rgba(255, 255, 255, 0.5)

#next
  text-align: right

#middle span, #middle a
  width: 544px
  text-align: center
  color: rgb(255,255,255)

#contact
  width: 480px
  margin-bottom: 32px

#contact p
  clear: both
  color: rgb(255,255,255)
  text-shadow: 0px 1px 1px rgb(0,0,0)
  line-height: 1.5
  font-size: 18px
  padding: 0 16px

#contact p strong
  background-color: rgba(0, 100, 0, 0.5)
  padding: 4px
  -webkit-border-radius: 8px
  -moz-border-radius: 8px
  border-radius: 8px

#contact ul
  list-style: none
  padding: 32px
  overflow: hidden

#contact li a
  float: left
  display: block
  margin-right: 32px
  background-color: rgba(255,255,255,0.5)
  font-size: 20px
  width: 144px

#contact li a:hover, #contact li a:focus
  background-color: rgba(255,255,255,0.75)

#contact li a:active
  margin-top: 2px

#email
  background: url('/img/mail.png') no-repeat 136px center

#chat
  background: url('/img/chat.png') no-repeat 136px center

#chat.online
  background-color: rgba(0, 100, 0, 0.5)

#chat.online:hover, #chat.online:focus
  background-color: rgba(0, 100, 0, 0.75)

#chat.away
  background-color: rgba(150, 0, 0, 0.5)

#chat.away:hover, #chat.away:focus
  background-color: rgba(150, 0, 0, 0.75)

#location
  margin-bottom: 16px

#contact .date
  text-align: right
  font-size: 16px
  color: #ccc
  margin-bottom: 16px
  line-height: 1

#lastfm
  width: 480px
  margin-bottom: 32px

#lastfm h2 a
  color: #af0000

#lastfm h2 a:hover, #lastfm h2 a:focus
  color: rgb(255,255,255)

#music
  clear: both
  width: 360px

#music li
  list-style: none

#music img
  float: left
  margin: 4px 12px
  width: 72px
  height: 72px

#music .now_playing a
  background: rgba(0, 100, 0, 0.5) url('/img/music.png') no-repeat 330px 56px

#music .now_playing a:hover, #music .now_playing a:focus
  background-color: rgba(0, 100, 0, 0.75)

#music a
  display: block
  background-color: rgba(0,0,0,0.50)
  overflow: hidden
  color: rgb(255,255,255)
  -webkit-transition: background-color 0.5s linear
  padding: 8px

#music a:hover, #music a:focus
  background-color: rgba(0,0,0,0.75)

#music a:hover .jewel, #music a:hover img,
#music a:focus .jewel, #music a:focus img
  -webkit-transform: rotate(-8deg)
  -moz-transform: rotate(-8deg)
  transform: rotate(-8deg)

.jewel
  width: 90px
  height: 82px
  background: url('/img/jewel.png') no-repeat
  position: absolute

#music span
  display: block
  line-height: 1.25
  overflow: hidden
  text-overflow: ellipsis

#music span.info
  margin: 8px 0
  text-shadow: 0px 1px 1px rgb(0,0,0)
  float: left
  width: 240px
  white-space: nowrap

#music li a:active span.info
  margin: 10px 0 6px

span.artist, span.album
  margin-left: 8px

span.song
  font-weight: bold

span.artist, span.album
  margin: 0 8px

#flickr
  clear: both

#flickr h2 a
  color: #0063dc

#flickr h2 a em
  font-style: normal
  color: #ff0084

#flickr h2 a:hover, #flickr h2 a:focus
  color: #ff0084

#flickr h2 a:hover em, #flickr h2 a:focus em
  color: #0063dc

#images
  width: 896px
  height: 240px
  padding: 48px 32px
  overflow: hidden
  clear: both

#images li
  list-style: none
  float: left

#images a
  display: block
  position: absolute
  float: left
  border: 1px solid rgb(0,0,0)
  padding: 16px
  width: 240px
  background: rgb(255,255,255)
  -webkit-transition: all 0.2s linear
  color: rgb(0,0,0)

#images a:hover, #images a:focus
  z-index: 1

#images a:hover time, #images a:focus time
  opacity: 1

#images a:active
  opacity: 0.75

.photo_bound
  width: 240px
  height: 160px
  overflow: hidden
  background: rgb(255,255,255)

.photo_bound time
  position: absolute
  display: block
  color: rgb(255,255,255)
  text-shadow: 0px 0px 4px rgb(0,0,0)
  top: 24px
  left: 24px
  opacity: 0

#images span
  display: block
  text-align: center
  padding-top: 8px
  color: rgb(0,0,0)
  font-weight: bold
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
  line-height: 1.5

p#footer
  text-align: center
  color: rgb(255,255,255)
  text-shadow: 0px 1px 1px rgb(0,0,0)
  padding: 32px 0 64px

#bad_browser
  display: none
  background: #fff
  padding: 64px 0
  font-size: 20px

#bad_browser .wrapper
  width: 480px

#bad_browser h3
  font-size: 48px
  font-weight: bold
  margin-bottom: 32px

#bad_browser p
  line-height: 1.25
  margin-bottom: 16px

#bad_browser ul
  margin-bottom: 16px
  margin-left: 32px

#bad_browser li
  line-height: 1.5

#proceed
  text-align: center

#admin
  background: rgba(255,255,255,0.25)
  padding: 6px 0

#admin ul
  width: 960px
  margin: 0 auto
  list-style: none
  overflow: hidden

#admin li
  float: left
  font-weight: bold
  margin: 2px 8px

#admin li:first-child
  padding: 8px 0

#admin a
  display: block
  background: rgba(255,255,255,0.5)
  padding: 8px 16px
  -webkit-border-radius: 16px
  -moz-border-radius: 16px
  border-radius: 16px
  color: rgb(0,0,0)
  text-shadow: 0px 1px 0px rgb(255,255,255)
  position: relative
  -webkit-transition: background 0.5s linear

#admin a:hover, #admin a:focus
  background: rgba(255,255,255,0.75)

#admin a:active
  top: 1px

#admin li#logout
  float: right
  margin-right: 0

#logout a
  background: rgba(150, 0, 0, 0.5)
  text-shadow: none

#logout a:hover, #logout a:focus
  background: rgba(150, 0, 0, 0.75)

#login
  display: none

#alert
  display: none
  z-index: 99
  position: fixed
  bottom: 16px
  right:cal windowttttt
  width: 240px
  padding: 16px 32px
  background: rgba(0,0,0,0.75)
  border-radius: 16px
  color: rgb(255,255,255)

#alert p
  line-height: 1.5

#status
  display: none
  position: absolute
  margin-top: 42px
  margin-left: 232px
  width: 480px
  padding: 8px 8px 0
  background: rgba(255,255,255,0.25)
  font-size: 18px

#status input, #status textarea
  font-size: inherit
  color: #000
  padding: 8px

#status textarea
  width: 464px
  font-size: inherit
  line-height: 1.5

#status label
  display: block
  width: 144px
  line-height: 1.5
  padding: 6px 8px
  float: left
  font-weight: bold
  color: #fff
  text-shadow: 0px 01px 0px #000
  background: rgba(0,0,0,0.75)

#status input
  display: block
  float: left

#status input[type=text]
  width: 304px

#status div
  margin: 8px 0
  overflow: hidden

#status input[type=submit]
  position: relative
  width: 480px
  font-weight: bold
  background-color: rgba(0, 100, 0, 0.5)
  -webkit-transition: background-color 0.5s linear
  border-radius: 8px
  margin-bottom: 2px

#status input[type=submit]:hover
  background-color: rgba(0, 100, 0, 1)

#status input[type=submit]:active
  top: 1px

